@font-face {
    font-family: 'zabras';
    src: url('../fonts/Zabars.ttf') format('truetype');
}

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    background: url('../img/5_background/background2.jpg');
    background-size: cover;
    ;
    background-repeat: no-repeat;
    flex-direction: column;

}

h1 {
    font-family: 'zabras';
    font-size: 128px;
    letter-spacing: 12px;
    color: sienna;

}

#main {
    position: relative;
}

canvas {
    background-color: black;
    position: relative;
    pointer-events: auto;

}

#loading-screen-container {
    top: 0;
    position: absolute;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;

}

#loading-screen {
    color: white;
    font-size: 2rem;

}

#controlls {

    width: 150px;
    height: 50px;
    background-color: rgba(255, 145, 0, 0.555);
    border-bottom-left-radius: 16px;

    position: absolute;
    top: 0;

    right: 0;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px black;
}

#controlls img {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.container {
    pointer-events: none;
    top: 0;

    position: absolute;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 102, 0, 0.479);
    backdrop-filter: blur(10px);
    gap: 150px;
}

#close {
    top: 25px;
    right: 25px;
    position: absolute;
    height: 40px;
    width: 40px;
}

.info h1 {
    letter-spacing: unset;
    margin: 0;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    font-size: 64px;
    font-family: 'Courier ';
    color: black;
}

.icon {
    height: 40px;
    width: 40px;
    opacity: 50;
}


#keys {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    gap: 15px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discription {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 15px;
}

#responsiv-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0.95;
    height: 100vh;
    width: 100%;
}

#responsiv-info img {
    width: 100%;
    height: 100%;

}

#responsiv-info span {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

#mobile-controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;

    position: absolute;
    pointer-events: all;
}

.button {
    height: 100px;
    width: 100px;
    opacity: 0.5;

}

#directions {

    display: flex;

    align-items: center;
    display: flex;
    gap: 30px;
}

.throw {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

#impressum {
    align-self: start;
    text-decoration: none;
    color: white;
}

#impressum:hover {
    text-decoration: underline;
}

@media(max-width: 1024px) {
    #mobile-controller {
        display: flex !important;
    }
}

@media(max-width: 720px) {
    #impressum {
        font-size: 0.7rem;
    }

    main {
        width: 100%;
        height: 100vh;

    }

    canvas {
        width: 100%;
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .info {
        width: 100%;
        height: 100%;
    }
}

@media(max-height: 480px) {
    main {
        overflow: hidden;
    }

    canvas {
        width: 100%;
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media(max-width: 480px) {

    .button {
        height: 70px;
        width: 70px;
    }

    #keys {
        font-size: 1.3rem;
    }

    #discription {
        font-size: 1.3rem;
    }

    .throw {
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}